<h2>Changes?</h2>

<div class='user_form'>
  <%= form_for @user do |f| %>
    <%= f.text_field :first_name, placeholder: 'First Name' %><br>
    <%= f.text_field :last_name, placeholder: 'Last Name' %><br>
    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.password_field :password, placeholder: 'Password' %><br>
    <%= f.submit("Update") %>
  <%end%>
</div>
<br>
<%= link_to "Delete", user_path(@user), method: 'delete' %>
