<h2><%=@user.first_name%>, edit your profile</h2>

<%= form_for @user do |f| %>
  First Name <%= f.text_field :first_name %><br>
  Last Name<%= f.text_field :last_name %><br>
  Email <%= f.text_field :email %><br>
  Password <%= f.password_field :password %><br>
  <%= f.submit %>
<%end%>

<br>
<%= link_to "Delete", user_path(@user), method: 'delete' %>
