<h1>Join us..</h1>
<div class='user_form'>
  <%= form_for @user do |f| %>
    <%= f.text_field :first_name, placeholder: 'First Name' %><br>
    <%= f.text_field :last_name, placeholder: 'Last Name' %><br>
    <%= f.text_field :email, placeholder: 'Email' %><br>
    <%= f.password_field :password, placeholder: 'Password' %><br>
    <%= f.submit('Join') %>
  <% end %>
</div>
