<ul>
  <li><h1><%= @user.first_name.capitalize %></h1></li>
  <li><%= link_to "Edit", edit_user_path(@user)%></li>
</ul>

<ul>
  <li><h2>Books</h2></li>
  <li><h3><%= @user.books.count %></h3></li>
  <li><%= link_to "Add?", new_user_book_path(@user) %></li>
</ul>
<% if @user.books.any? %>
  <table>
    <% @user.books.each do |book| %>
      <tr>
        <td><h3><%= link_to book.title.capitalize, user_book_path(@user, book) %></h3></td>
        <td><h4><%= book.author %></h4></td>
        <td><h4>Level <%= book.reading_level %></h4></td>
        <td><h4><%= book.word_count %> words</h4></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No books</p>
<% end %>

<ul>
  <li><h2>Comments</h2></li>
  <li><h4><%= @user.comments.count %></h4></li>
</ul>

<% if @user.comments.any? %>
  <% @user.comments.each do |comment| %>
    <table class='comment_table'>
      <tr>
        <td><%= comment.commenter.first_name.titleize %> commented on <%= comment.book.title.titleize %> on <%= comment.created_at.localtime.strftime('%H:%M %m/%d/%Y') %></td>
      </tr>
      <tr><td><%= comment.comment_text %><td></tr>
    </table>
  <% end %>
<% else %>
  <p>No comments</p>
<% end %>
