<% user = User.find(comment.commenter_id) %>
<li style="margin-left:<%= indent %>px; margin-bottom:5px; border:1px solid black; padding: 5px; border-radius: 10px 10px 10px; ">
	<dl><%= user.first_name %> <%= user.last_name %></dl>
	<dd><%= comment.comment_text %></dd>
	<dd>
		<%= form_tag("/users/#{params[:user_id]}/books/#{params[:id]}/comments", method: 'post') do %>
		<%=   hidden_field_tag(:parent_id, comment.id) %>
		<%=   text_field_tag(:comment_text) %>
		<%=   submit_tag("Add Comment") %>
		<% end %>
	</dd>
</li><br>