<header>
	<h1><%= @book.title %></h1>
	<h4><%= @book.author %></h4>
</header>


<div class="d3_bubble">THIS IS WHERE THE D3 GOES</div>

<section>
	<h2>Stats</h2>
	<ul>
		<li>Reading Level: <%= @book.reading_level.floor(1) %></li><br>
		<li>Total Word Count: <%= @book.word_count %></li><br>
		<li>Average Word Length: <%= @book.avg_word_length.floor(2) %></li><br>
		<li>Average Number of Syllables Per Word: <%= @book.avg_syllable_length.floor(2) %></li><br>
		<li>Average Sentence Length: <%= @book.avg_sentence_length.floor(2) %></li>
	</ul>
</section>

<section>
	<h2>Comments</h2>
  <% nest(@comments) %>
	
	<% if flash[:error] %>
	  <%= flash[:error] %>
	<% end %>
	<%= render 'commentform' %>
	<ul>
		<% @comments.each do |comment| %>
			<% user = User.find(comment.commenter_id) %>
			<li>
				<dl><%= user.first_name %> <%= user.last_name %></dl>
				<dd><%= comment.comment_text %></dd>
				<dd>
					<%= form_tag("/users/#{params[:user_id]}/books/#{params[:id]}/comments", method: 'post') do %>
  				<%=   hidden_field_tag(:parent_id, comment.id) %>
  				<%=   text_field_tag(:comment_text) %>
  				<%=   submit_tag("Add Comment") %>
					<% end %>
				</dd>
			</li><br>
		<% end %>
	</ul>
</section>