<header>
	<h1><%= @book.title %></h1>
	<h4><%= @book.author %></h4>
</header>


<div class="d3_bubble">THIS IS WHERE THE D3 GOES</div>

<section>
	<h2>Stats</h2>
	<ul>
		<li>Reading Level: <%= @book.reading_level.floor(1) %></li><br>
		<li>Total Word Count: <%= @book.word_count %></li><br>
		<li>Average Word Length: <%= @book.avg_word_length.floor(2) %></li><br>
		<li>Average Number of Syllables Per Word: <%= @book.avg_syllable_length.floor(2) %></li><br>
		<li>Average Sentence Length: <%= @book.avg_sentence_length.floor(2) %></li>
	</ul>
</section>

<section>
	<h2>Comments</h2>
	
	<% if flash[:error] %>
	  <%= flash[:error] %>
	<% end %>
	<%= render 'commentform' %>
	
	<ul style="padding-left: 0px">
  	<%= raw nest('', 0, @comments.select{|comment| comment.parent_id == nil}) %>
	</ul>
</section>