<!DOCTYPE html>
<html>
<head>
  <title>WorkingTitle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <span><%= link_to 'W|||||T', root_path %></span>
      <div class='login_nav'>
        <ul>
          <% if logged_in? %>
            <li><%= link_to current_user.first_name.capitalize, user_path(current_user) %></li>
            <li><%= form_tag('/logout') do %>
              <%= submit_tag "Logout" %>
            <% end %></li>
          <% else %>
              <%= form_tag('/login') do %>
                <%= text_field_tag "email", nil, placeholder: "Email" %><br>
                <%= password_field_tag "password", nil, placeholder: 'Password' %><br>
                <%= submit_tag "Login" %>
                <a href="/users/new">New User?</a>
              <% end %>
          <% end %>
        </ul>
      </div>
      <%= render 'shared/search' %>
	</nav>
  <div class='content'>
    <%= yield %>
  </div>
</body>
</html>
